# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
# %pip install pymongo

In [25]:
from pymongo import MongoClient
import pandas as pd

In [16]:
cursor = MongoClient('mongodb://localhost:27017')

In [17]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [20]:
db = cursor.companies

In [22]:
colec = db.coleccion

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [37]:
query = {'name': 'Babelgum'}

select = {'_id': False, 'name': True}

list(colec.find(query, select))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [125]:
query = {'number_of_employees': {'$gt': 5000}}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).sort('number_of_employees', 1).limit(20)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,Nintendo,nintendo,http://www.crunchbase.com/company/nintendo,http://nintendo.com,,,NintendoAmerica,games_video,5080,1889.0,...,[],None,[],"[{'description': None, 'address1': None, 'addr...","[{'id': 17591, 'description': '3D For Everyone...",None,[],[],[],[]
1,Hexaware Technologies,hexaware-technologies,http://www.crunchbase.com/company/hexaware-tec...,http://www.hexaware.com,http://blogs.hexaware.com,http://blogs.hexaware.com/feed,None,other,5200,1990.0,...,[],None,"[{'price_amount': 34300000, 'price_currency_co...","[{'description': 'United States of America', '...",[],None,[],[],[{'external_url': 'http://www.forrester.com/Re...,[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [124]:
query = {'$and': [{'founded_year': {'$gte': 2000}},
                  {'founded_year': {'$lte': 2005}}]}

select = {'_id': False, 'name': True, 'founded_year': True}

pd.DataFrame(colec.find(query, select)).head()

        name  founded_year
0   Wetpaint          2005
1       Zoho          2005
2       Digg          2004
3   Facebook          2004
4  Omnidrive          2005

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [122]:
query = {'$and': [{'ipo.valuation_amount': {'$gt': 100_000_000}},
                  {'founded_year': {'$lt': 2010}}]}

select = {'_id': False, 'name': True, 'ipo': True}

pd.DataFrame(colec.find(query, select)).head()

       name                                                ipo
0  Facebook  {'valuation_amount': 104000000000.0, 'valuatio...
1   Twitter  {'valuation_amount': 18100000000.0, 'valuation...
2      Yelp  {'valuation_amount': 1300000000, 'valuation_cu...
3  LinkedIn  {'valuation_amount': 9310000000.0, 'valuation_...
4    Amazon  {'valuation_amount': 100000000000.0, 'valuatio...

In [123]:
10000000 == 10_000_000

True

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [119]:
query = {'$and': [{'number_of_employees': {'$lt': 1000}},
                  {'founded_year': {'$gt': 2005}}]}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).sort('number_of_employees', 1).limit(10)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,CastTV,casttv,http://www.crunchbase.com/company/casttv,http://www.casttv.com,,,casttv,games_video,0,2006,...,[],"{'price_amount': None, 'price_currency_code': ...",[],"[{'description': None, 'address1': '374 Branna...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[],[]
1,Mashery,mashery,http://www.crunchbase.com/company/mashery,http://www.mashery.com,http://blog.mashery.com,http://blog.mashery.com/feed/,Mashery,enterprise,0,2006,...,[],"{'price_amount': None, 'price_currency_code': ...",[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 8006, 'description': 'Mashery named in...",None,"[{'embed_code': '<iframe width=""430"" height=""2...","[{'available_sizes': [[[150, 67], 'assets/imag...",[],[]

### 6. All the companies that don't include the `partners` field.

In [187]:
query = {'partners': []}

select = {'_id': False}

pd.DataFrame(colec.find(query, select)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN

### 7. All the companies that have a null type of value on the `category_code` field.

In [115]:
query = {'category_code': None}

select = {'_id': False}

pd.DataFrame(colec.find(query, select)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,Collective,collective,http://www.crunchbase.com/company/collective,None,None,None,None,None,NaN,NaN,...,[],None,[],[],[],None,[],[],[],[]
1,Snimmer,snimmer,http://www.crunchbase.com/company/snimmer,None,None,None,None,None,NaN,NaN,...,[],None,[],[],[],None,[],[],[],[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [113]:
query = {'$and': [{'number_of_employees': {'$gt': 100}},
                  {'number_of_employees': {'$lt': 1000}}]}

select = {'_id': False, 'name': True, 'number_of_employees': True}

pd.DataFrame(colec.find(query, select)).head()

        name  number_of_employees
0  AdventNet                  600
1    AddThis                  120
2      OpenX                  305
3   LifeLock                  644
4      Jajah                  110

### 9. Order all the companies by their IPO price in a descending order.

In [190]:
query = {'ipo': {'$ne': {}}}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).sort('ipo.valuation_amount', -1)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,GREE,gree,http://www.crunchbase.com/company/gree,http://www.gree-corp.com,,,gree_corp,games_video,700.0,2004.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': 104000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 1021, 'description': 'IPO', 'stoned_ye...","{'valuation_amount': 108960000000.0, 'valuatio...",[],"[{'available_sizes': [[[133, 150], 'assets/ima...",[],[]
1,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,2004.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000.0, 'valuatio...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [110]:
query = {'number_of_employees': {'$gt': 100000}}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).sort('number_of_employees', -1).limit(10)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847,...,[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [108]:
query = {'founded_month': {'$gt': 6}}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).limit(1000)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,2005,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [106]:
query = {'$and': [{'acquisition.price_amount': {'$gt': 10_000_000}},
                  {'founded_year': {'$gt': 2000}}]}

select = {'_id': False}

pd.DataFrame(colec.find(query, select)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,StumbleUpon,stumbleupon,http://www.crunchbase.com/company/stumbleupon,http://www.stumbleupon.com,http://www.stumbleupon.com/blog,,stumbleupon,web,NaN,2002,...,"[{'description': '', 'address1': '', 'address2...","[{'id': 3103, 'description': 'Spin-out from Eb...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 72], 'assets/imag...",[{'external_url': 'http://www.facebook.com/Stu...,[],NaN,NaN,None,None

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [104]:
query = {'acquisition.acquired_year': {'$gt': 2010}}

select = {'_id': False, 'name': True, 'acquisition': True}

pd.DataFrame(colec.find(query, select).sort('acquisition.price_amount', -1)).head()

                     name                                        acquisition
0                T-Mobile  {'price_amount': 39000000000.0, 'price_currenc...
1    Goodrich Corporation  {'price_amount': 18400000000.0, 'price_currenc...
2                     LSI  {'price_amount': 6600000000.0, 'price_currency...
3  National Semiconductor  {'price_amount': 6500000000.0, 'price_currency...
4                   Ariba  {'price_amount': 4300000000.0, 'price_currency...

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [103]:
query = {'founded_year': {'$ne': None}}

select = {'_id': False, 'name': True, 'founded_year': True}

pd.DataFrame(colec.find(query, select).sort('founded_year', 1)).head()

          name  founded_year
0   Alstrasoft          1800
1  SmallWorlds          1800
2      US Army          1800
3       DuPont          1802
4     McKesson          1833

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [102]:
query = {'$and': [{'founded_day': {'$gt': 1}},
                  {'founded_day': {'$lte': 7}}]}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).sort('acquisition.price_amount', -1).limit(10)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,Netscape,netscape,http://www.crunchbase.com/company/netscape,http://netscape.aol.com,,,,software,NaN,1994,...,[],"{'price_amount': 4200000000.0, 'price_currency...",[],"[{'description': '', 'address1': '466 Ellis St...",[],None,[],[],[],[]
1,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,1999,...,[],"{'price_amount': 625000000, 'price_currency_co...",[],"[{'description': None, 'address1': '959 Skyway...",[],None,[],[],[],[]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [128]:
query = {'$and': [{'category_code': 'web'},
                  {'number_of_employees': {'$gt': 4000}}]}

select = {'_id': False}

pd.DataFrame(colec.find(query, select).sort('number_of_employees', 1)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,Expedia,expedia,http://www.crunchbase.com/company/expedia,http://www.expedia.com,,,Expedia,web,4400,1996,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': None, 'price_currency_code': ...","[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Office', 'address1...","[{'id': 11691, 'description': 'US AIRWAYS AND ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://www.urlaubs-rabatte....,[]
1,AOL,aol,http://www.crunchbase.com/company/aol,http://www.aol.com,http://blog.aol.com/,http://feeds.feedburner.com/AolBlog?format=xml,aol,web,8000,1985,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 40000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '770 Broadw...","[{'id': 2689, 'description': 'AOL relauches, c...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 91], 'assets/imag...","[{'external_url': 'http://mashpedia.com/AOL', ...",[]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [134]:
query = {'$and': [
        
        {'$or': [{'acquisition.price_currency_code': 'eur'},
                 {'acquisition.price_currency_code': 'EUR'}]},
        {'acquisition.price_amount': {'$gt': 10_000_000}}]}

select = {'_id': False}

pd.DataFrame(colec.find(query, select)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,ZYB,zyb,http://www.crunchbase.com/company/zyb,http://zyb.com,http://blog.zyb.com/,http://blog.zyb.com/index.php/feed/,None,mobile,25.0,NaN,...,[],"{'price_amount': 31500000, 'price_currency_cod...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': 'Esromgade ...",[],None,[],[],[],[]
1,Apertio,apertio,http://www.crunchbase.com/company/apertio,http://www.apertio.com,,,None,mobile,NaN,NaN,...,[],"{'price_amount': 140000000, 'price_currency_co...",[],"[{'description': None, 'address1': '', 'addres...",[],None,[],[],[],[]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [137]:
query = {'founded_month': {'$lt': 7}}

select = {'_id': False, 'name': True, 'acquisition': True}

pd.DataFrame(colec.find(query, select).limit(10))

                    name                                        acquisition
0               Facebook                                               None
1                Postini  {'price_amount': 625000000, 'price_currency_co...
2                   Geni  {'price_amount': None, 'price_currency_code': ...
3  Fox Interactive Media                                               None
4                Twitter                                               None
5            StumbleUpon  {'price_amount': 29000000, 'price_currency_cod...
6                 Gizmoz  {'price_amount': None, 'price_currency_code': ...
7                  Helio  {'price_amount': 39000000, 'price_currency_cod...
8               Babelgum                                               None
9                 Yahoo!                                               None

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [152]:
query = {'$and': [{'founded_year': {'$gt': 2000, '$lt': 2010}},
                 {'acquisition.acquired_year': {'$gt': 2011}}]}

select = {'_id': False}

pd.DataFrame(colec.find(query, select)).head(2)

,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,2004,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None

### 20. All the companies that have been 'deadpooled' after the third year.

In [181]:
query = {'$and': [{'deadpooled_year': {'$nin': ['$founded_year', '$founder_year + 1', '$founder_year + 2', '$founder_year + 3']}},
                  {'deadpooled_year': {'$ne': None}},
                  {'deadpooled_year': {'$gt': 1800}}]}
                  

select = {'_id': False, 'name': True, 'deadpooled_year': True, 'founded_year': True}

pd.DataFrame(colec.find(query, select)).head(2)

        name  founded_year  deadpooled_year
0  Omnidrive        2005.0             2008
1   Babelgum        2007.0             2013